.tictacgame{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btn-row{

}

.btn-square{
    width: 10vh;
    height: 10vh;
    font-size: 3vh;
    margin: 1vh;
    padding: 1vh;
}
.btn-square:after{
    content: "";

}
