.tictacgame{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.btn-square{
    width: 10vh;
    height: 10vh;
    font-size: 3vh;
    margin: 1vh;
    padding: 1vh;
}
.btn-square:after{
    content: "";

}
.btn-square:hover{
    animation-name: dropShadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text-top{
    font-size: 6vh;
    animation-name: leftToRight;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes leftToRight{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(10vw);
    }
    67%{
        transform: translateX(-10vw);
    }
    100%{
        transform: translateX();
    }
}
@keyframes dropShadow{
    0%{
        box-shadow: 0 0 0px ;
    }
    50%{
        box-shadow: 0 0 20px ;
    }
    100%{
        box-shadow: 0 0 0px ;
    }
}
