
.rockpapersci{
    display: flex;
    min-width: 60%;
    min-height: 50%;
    justify-content: space-around;
}

.win-text{
    animation-name: leftToRight;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: 8vh;
}

.play-hand{

    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-family:'Lucida Sans';
    font-size: 6vh;
    /* background-color: white; */
    
}

.play-hand:hover{
    animation-name: dropShadow;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

h1, h2{
    min-width: 16vh;
    text-align: center;
    font-size: 8vh;
}

h1{
    width: fit-content;
}

.hand-icon{
    width: auto;
    height: 10vh;
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.hand-player, .hand-random{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes rotation {
    0%{
      transform: rotate(0deg);
    }
    33%{
      transform: rotate(30deg);
    }
    67%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes leftToRight{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(10vw);
    }
    67%{
        transform: translateX(-10vw);
    }
    100%{
        transform: translateX();
    }
}
@keyframes dropShadow{
    0%{
        box-shadow: 0 0 0px ;
    }
    50%{
        box-shadow: 0 0 20px ;
    }
    100%{
        box-shadow: 0 0 0px ;
    }
}

